/*INFO BOX*/

.infoBox
    position: relative
    margin-top: 20px

.boxOverlay
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background: rgb(0,0,0)
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%)
    z-index: 1

.infoBox img
    width: 100% !important
    height: 100% !important
    object-fit: cover

.boxTextWrap
    position: absolute
    left: 50px
    bottom: 50px
    z-index: 2

.boxHeading
    font-size: 38px
    font-weight: 800
    text-transform: uppercase
    color: #fff
    margin-bottom: 25px

.ctaButton-red
    background: $secondary
    color: #fff
    width: fit-content
    padding: 12px 32px
    font-size: 18px
    font-weight: 700
    text-transform: uppercase 

    &:hover
        background: $redHover

/*HEADING WRAP*/

.startTextWrap
    width: 100%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    display: flex
    flex-direction: column
    align-items: center

.startSubHeading
    color: #fff
    font-size: 22px
    font-weight: 100
    letter-spacing: 5px
    text-transform: uppercase

.startHeading
    color: #fff
    font-size: 65px
    font-weight: 600
    letter-spacing: 2px
    margin-top: 30px
    text-align: center


@media (max-width: 1400px)
    .startHeading
        font-size: 45px
        margin-top: 18px

    .startSubHeading
        font-size: 16px


@media (max-width: 1220px)
    .template_full_column 
        padding: 0 20px !important


@media (max-width: 920px)
    .infoBox
        height: 350px

    .boxHeading
        font-size: 26px
        margin-bottom: 15px

    .boxTextWrap
        left: 30px
        bottom: 30px


@media (max-width: 680px)
    .infoBoxContainer 
        grid-template-columns: repeat(1,100%)
        width: 100%

    .startHeading
        font-size: 32px
        margin-top: 4px
        line-height: 1.2

    .startSubHeading
        font-size: 16px
