/*FRONTPAGE*/

.startseite-wrapper
    background: #F8F8F8

.startseite-content-wrapper
    position: relative
    max-width: 1300px
    margin: auto

.startseite-white-wrapper
    background: #fff
    max-width: 1300px
    margin: auto

.head-slider-link-wrap
    padding-bottom: 80px

.infoBoxContainer
    width: calc(100% - 20px)
    display: grid
    grid-template-columns: repeat(2, 50%)
    gap: 20px 
    margin-bottom: 120px

#bottom-content-wrapper
    background: #F8F8F8
    padding: 150px 0 50px 0

.startseite-white-wrapper
    position: relative
    padding: 50px 0

.startseite-white-wrapper
    &::before
        background: #fff
        content: ""
        height: 100%
        left: -100%
        position: absolute
        top: 0
        width: 100%

.startseite-white-wrapper
    &::after
        background: #fff
        content: ""
        height: 100%
        right: -100%
        position: absolute
        top: 0
        width: 100%

#bottomInfoBox
    position: relative
    z-index: 1
    margin-bottom: -150px


/*ANGEBOTE*/

#startseite-angebote-wrapper .angebotswrapper
    position: relative
    display: grid
    grid-template-columns: repeat(3,33.33%)

#startseite-angebote-wrapper .artangebote_outer_frame    
    width: 100%



@media (max-width: 768px)
    #template_center_column
        padding: 0 20px !important